@import "compass/reset";
@import "base/base";

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #263248;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #FF3C78;
$purple:                #7a43b6;
$offWhite:              #F2F2ED;


// Scaffolding
// -------------------------
$bodyBackground:        $offWhite;
$textColor:             $grayDark;


// Links
// -------------------------
$linkColor:             $pink;
$linkColorHover:        darken($linkColor, 15%);


// Typography
// -------------------------
$sansFontFamily:        omnes-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       sirba-web, Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    $serifFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    400;    // instead of browser default, bold
$headingsColor:         $black; // empty to use BS default, $textColor


// Sizing
// -------------------------
$containerWidth:        1080px;

// Mixins
// -------------------------
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


// Basic Typography
// -------------------------

body { 
  font-size: $baseFontSize;
  line-height: $baseLineHeight; 
  font-family: $baseFontFamily; 
  font-style: normal; 
  font-weight: 300;
  letter-spacing: 0px;
  background: $bodyBackground url('/images/strip.png') repeat-x top center; 
  color: $textColor;
  padding-top: 12px;
  font-size: 24px;
  line-height: $baseLineHeight * 2;
}

p { 
  margin-bottom: $baseLineHeight * 1.5; 
  font-size: 24px;
  line-height: $baseLineHeight * 2.2;
} 

a:link { color: $linkColor; text-decoration: none; }
a:visited { color: $linkColor; } 
a:hover { color: $linkColorHover; text-decoration: none; } 


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 4) 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: 1;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}
h1 { font-size: 52px; line-height: 62px; }
h2 { font-size: 36px; line-height: 45px; }
h3 { font-size: 30px; line-height: 36px; }
h4 { font-size: 24px; line-height: 27px; }
h5 { font-size: 16px; line-height: 26px; }
h6 { font-size: 16px; line-height: 18px; }

h1 small { font-size: 24px; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-left: 25px;
}
li {
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight * 1.5;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix; // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: 200px;
    clear: left;
    text-align: right;
  }
  dd {
    margin-left: 200px;
  }
}

// Emphasis & Misc
// -------------------------
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}


// MISC
// -------------------------

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $grayLighter;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $baseLineHeight * 1.5;
  border-left: 5px solid $grayLight;
  font-size: 21px; 
  line-height: 28px; 
  font-weight: 300; 
  font-style: italic;
  p {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid $grayDark;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}


// Utility classes
// --------------------------------------------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

// Header Styles
// -------------------------

header {
  width: 100%;
  height: 60px;
  background-color: $blue;
  margin-bottom: 80px;
  div {
    width: $containerWidth;
    margin: 0 auto;
    h1 {
      font-size: 24px;
      color: $white;
      font-style: italic;
      font-weight: 400;
      line-height: 60px;
      margin: 0;
      font-family: $sansFontFamily;
      a {
        color: $white;
        &:visited, &:hover, &:link {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}


// Blog Specific Styles
// -------------------------

.container {
  width: $containerWidth;
  padding: 50px 0 50px;
  margin: 0 auto;
  overflow: visible;
}

h1.blog-title { margin-bottom: 0; }
p.lead { font-weight: 200; font-style: italic; font-size: 32px; line-height: 42px; } 
.date { font-style: italic; font-size: 14px; margin: 0 0 18px; line-height: 16px; }

article.post {
  border-bottom: 1px solid $grayLight;
  padding-bottom: $baseLineHeight;
  margin-bottom: $baseLineHeight * 2;
}

// Recent Post Styles
// --------------------------

div.related {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
  ul li {
    font-size: 24px;
    line-height: 30px;
  }
}

.left {
  float: left;
  width: 780px;
}

.right {
  margin-left: 60px;
  float: left;
  width: 240px;
  padding-top: $baseLineHeight;
  p {
    font-size: 18px;
    line-height: 24px;
  }
}