      <footer>
        <div class="social">
          <div class="row">
            <div class="large-10 large-centered columns">
              <p>
                <a href="https://github.com/matthewforr"><i class="icon-github-alt"></i></a>
                <a href="https://www.facebook.com/matthew.forr"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/matthewforr"><i class="icon-twitter"></i></a>
              </p>
            </div>
          </div>
        </div>

        <div class="copyright">
          <div class="row">
            <div class="large-10 large-centered columns">
              <p>Copyright 2013 - Matthew Forr. Thanks for visiting ┬─┬ノ( º _ ºノ)</p>
            </div>
          </div>
        </div>
      </footer>