// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #9B9A9B;
$grayLight:             #969696;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #263248;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #FF3C78;
$purple:                #7a43b6;
$offWhite:              #F2F2ED;
$fadedPink:             lighten($pink, 30%);


// Scaffolding
// -------------------------
$bodyBackground:        #FFFFFD;
$textColor:             #2F343B;


// Links
// -------------------------
$linkColor:             $pink;
$linkColorHover:        darken($linkColor, 15%);


// Typography
// -------------------------
$sansFontFamily:        "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       "freight-text-pro", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          16px;
$baseFontFamily:        $serifFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    $serifFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    300;    // instead of browser default, bold
$headingsColor:         #2F343B; // empty to use BS default, $textColor


// Sizing
// -------------------------
$containerWidth:        1200px;


// Reset
// -------------------------

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

// Mixins
// -------------------------

@mixin width {
  max-width: $containerWidth;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin respondto($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) { @content; }
}

// Utility classes
// --------------------------------------------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

@import "_components/typography";
@import "_components/syntax";
@import "_components/linenumbers";
@import "_components/header";
@import "_components/footer";
@import "_components/portfolio";
@import "_components/blog";